@import "tailwindcss";

:root {
  @apply bg-gray-50
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.btn-add-calendar {
  @apply flex items-center gap-2 bg-purple-600 hover:bg-purple-700 text-white font-medium px-4 py-2 rounded
}

.calendar-card {
  @apply flex bg-gray-800 rounded-md border-l-4 border-pink-600 text-white min-w-sm max-w-4xl hover:bg-gray-700 cursor-pointer
}

input {
  @apply px-2
}

.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;
  @apply space-x-8
}

.fc-day {
  @apply m-8
}

.fc-scrollgrid-sync-table {
  @apply w-full
}

.fc-view {
  @apply w-full h-full bg-white
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600
}

.fc-view-harness-active {
  height: 500px !important;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-400
}

.fc .fc-button {
  @apply bg-violet-700 hover:bg-violet-900
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600
}

.fc .fc-button-primary:disabled {
  @apply bg-violet-600
}

.fc-v-event {
  @apply bg-violet-500 border border-violet-600
}